body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  /* background: #000; */
  /* color: #fff; */
  padding: 3px;
  color: red;
}

@media(max-width: 1100px) {
  .card {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .card_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .card__ball {
    text-align: right;
  }
  .card__title, .card__assoc {
    width: auto;
  }
}
